@media screen and (min-width: 700px) {
    .hide{
        display: initial !important;
    }

    .mobile{
        display: none;
    }

    body > header {
        width: 7.5rem;
    }

    main{
        margin-left: 7.5rem;
    }

    #navigation-menu li{
        margin:0;
    }

    #navigation-menu span{
        width: 5em;
        text-align: left;
        
    }

    .whoiam-pic img{
        max-width: 20rem;
        width: 100%;
    }


    #studies .content-wrapper{
        display: grid;
        grid-template-columns: auto auto auto;
    }

}
