:root {
    --color-text: #05416f;
    --color-bg: #f4951d;
}

p, form{
    font-family: 'Oswald', sans-serif;
}

h1, h2, h3, h4{
    font-family: 'Concert One', cursive;  
}

main {
    background-color: var(--color-bg);
    margin-left: 2.5rem;
    color: var(--color-text);
}

footer {
    background-color: var(--color-bg);
}

.hide{
    /* important dado que el inline-block de fa prevalece sobre el hide*/
    display: none !important;
}

/*-----------------------------------------*/
section header{
    background-size: cover;
    height: 22rem;
}
.home-header{
    background-image: url(../assets/home.jpg);
    background-size: cover; 
    height: 100vh;
}

section .title-wrapper{
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    min-height: -webkit-fill-available;
}

.home-header .centered-content{
    padding-top: 24rem;
    font-size: 3rem;
}

.centered-content{
    margin-left: auto;
    margin-right: auto;
    padding-top: 9rem;
    color: #fff;
}
.whoiam-header{
    background-image: url(../assets/whoiam.png);
}

.studies-header {
     background-image: url(../assets/studies.jpg);
}

.work-header{
    background-image: url(../assets/work.jpg);
}

.about-header {
    background-image: url(../assets/about.jpg);
}

.contact-header{
    background-image: url(../assets/contact.jpg);
}

